{% extends 'base.html.twig' %} 

{% block title %}NTTeam - Nhóm quản lý{% endblock %}

        {# sidebar #}
        {% block sidebar %}
        <div class="sidebar-wrapper scrollbar scrollbar-inner">
          <div class="sidebar-content">
            <ul class="nav nav-secondary">
              <li class="nav-section">
                <span class="sidebar-mini-icon">
                  <i class="fa fa-ellipsis-h"></i>
                </span>
                <h4 class="text-section">NTTeam</h4>
              </li>

              <!-- Quản lý công việc nhóm tại đây -->
              <li class="nav-item active">
                <a data-bs-toggle="collapse" href="#submenu">
                  <i class="fas fa-bars"></i>
                  <p>Nhóm quản lý</p>
                  <span class="caret"></span>
                </a>
                <div class="collapse show" id="submenu">
                  <ul class="nav nav-collapse">
                    <li class="active">
                      <a href="../tables/tables.html">
                        <span class="sub-item">Xem tất cả nhóm</span>
                      </a>
                    </li>
                    </li>
                    <li>
                      <a data-bs-toggle="collapse" href="#subnav1">
                        <span class="sub-item">Đồ Án 1</span>
                        <span class="caret"></span>
                      </a>
                      <div class="collapse" id="subnav1">
                        <ul class="nav nav-collapse subnav">
                          <li>
                            <a href="#">
                              <span class="sub-item">Tổng quan nhóm</span>
                            </a>
                          </li>
                          <li>
                            <a href="#">
                              <span class="sub-item">Thông tin công việc</span>
                            </a>
                          </li>
                          <li>
                            <a href="#">
                              <span class="sub-item">Thông tin thành viên</span>
                            </a>
                          </li>
                        </ul>
                      </div>
                    </li>
                    <li>
                      <a data-bs-toggle="collapse" href="#subnav2">
                        <span class="sub-item">Pháp luật đại cương</span>
                        <span class="caret"></span>
                      </a>
                      <div class="collapse" id="subnav2">
                        <ul class="nav nav-collapse subnav">
                          <li>
                            <a href="#">
                              <span class="sub-item">Tổng quan</span>
                            </a>
                          </li>
                          <li>
                            <a href="#">
                              <span class="sub-item">Thông tin công việc</span>
                            </a>
                          </li>
                          <li>
                            <a href="#">
                              <span class="sub-item">Thông tin thành viên</span>
                            </a>
                          </li>
                        </ul>
                      </div>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="nav-item">
                <a data-bs-toggle="collapse" href="#tables">
                  <i class="fas fa-table"></i>
                  <p>Các nhóm tham gia</p>
                  <span class="caret"></span>
                </a>
                <div class="collapse" id="tables">
                  <ul class="nav nav-collapse">
                    <li>
                      <a href="../tables/tables.html">
                        <span class="sub-item">Tham gia nhóm mới</span>
                      </a>
                    </li>
                    <li>
                      <a href="../tables/tables.html">
                        <span class="sub-item">Đồ án 1</span>
                      </a>
                    </li>
                    <li>
                      <a href="../tables/datatables.html">
                        <span class="sub-item">Pháp luật đại cương</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </div>
        {% endblock %}       
        
        {# container #}
        {% block body %}
        <div class="container">
          <div class="page-inner">
            <div class="page-header">
              <h3 class="fw-bold mb-3">Nhóm quản lý</h3>
              <ul class="breadcrumbs mb-3">
                <li class="nav-home">
                  <a href="#">
                    <i class="icon-home"></i>
                  </a>
                </li>
                <li class="separator">
                  <i class="icon-arrow-right"></i>
                </li>
                <li class="nav-item">
                  <a href="#">Tất cả nhóm</a>
                </li>
              </ul>
            </div>
            <div class="row">

              <div class="col-md-12">
                <div class="card">
                  <div class="card-header">
                    <div class="d-flex align-items-center">
                      <!-- <h4 class="card-title">Add Row</h4> -->
                      <a
                      href="update_group.html"
                      class="btn btn-primary btn-round ms-auto"
                    >
                      <i class="fa fa-plus"></i>
                      Thêm nhóm mới
                    </a>
                  </div>
                  <div class="card-body">

                    <div class="table-responsive">
                      <table
                        id="add-row"
                        class="display table table-striped table-hover"
                      >
                        <thead>
                          <tr>
                            <th>Tên nhóm</th>
                            <th>Ngày tạo</th>
                            <th>Số lượng thành viên</th>
                            <th style="width: 10%">Thao tác</th>
                          </tr>
                        </thead>
                        <tfoot>
                          <tr>
                            <th>Tên nhóm</th>
                            <th>Ngày tạo</th>
                            <th>Số lượng thành viên</th>
                            <th>Thao tác</th>
                          </tr>
                        </tfoot>
                        <tbody>
                          <tr>
                            <td>Tiger Nixon</td>
                            <td>System Architect</td>
                            <td>Edinburgh</td>
                            <td>
                              <div class="form-button-action">
                                <button
                                  type="button"
                                  data-bs-toggle="tooltip"
                                  title="Xem chi tiết nhóm"
                                  class="btn btn-link btn-primary btn-lg"
                                  data-original-title="Edit Task"
                                >
                                  <i class="fa fa-eye"></i>
                                </button>
                                <button
                                  type="button"
                                  data-bs-toggle="tooltip"
                                  title="Sửa thông tin nhóm"
                                  class="btn btn-link btn-primary btn-lg"
                                  data-original-title="Edit Task"
                                >
                                  <i class="fa fa-edit"></i>
                                </button>
                                <button
                                  type="button"
                                  data-bs-toggle="tooltip"
                                  title="Giải tán nhóm"
                                  class="btn btn-link btn-danger"
                                  data-original-title="Remove"
                                >
                                  <i class="fa fa-times"></i>
                                </button>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        
      </div>

        {% endblock %}
