{% extends 'base.html.twig' %}

{% block title %}Xem công việc{% endblock %}

{% block body %}
<div class="container">
            <div class="page-inner">
              <div class="page-header">
                <h3 class="fw-bold mb-3">Tạo công việc mới</h3>
                <ul class="breadcrumbs mb-3">
                <li class="nav-home">
                    <a href="#">
                    <i class="icon-home"></i>
                    </a>
                </li>
                <li class="separator">
                    <i class="icon-arrow-right"></i>
                </li>
                <li class="nav-home">
                    <a href="#">
                <li class="nav-item">
                    <a href="#">Các nhóm tham gia</a>
                </li>
                <li class="separator">
                    <i class="icon-arrow-right"></i>
                </li>
                <li class="nav-item">
                    <a href="#">Đồ Án 1</a>
                </li>
                
                </ul>
            </div>
                <form class ="row" action="" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="name" class="form-label">Tên công việc</label>
                    <input disabled type="text" class="form-control" id="name" name="name" placeholder="Nhập tên công việc">
                </div>
                <div class="mb-3">
                    <label for="name" class="form-label">Trạng thái:</label>
                    <input disabled type="text" class="form-control" name="startDate" value="Đang thực hiện">
                </div>
                <div class="mb-3">
                    <label for="name" class="form-label">Ngày bắt đầu:</label>
                    <input disabled type="datetime-local" class="form-control" name="startDate">
                </div>
                <div class="mb-3">
                    <label for="office" class="form-label">Mô tả</label>
                    <textarea disabled class="form-control" rows="5" name="description" id=""></textarea>
                </div>
                <div class="mb-3">
                    <label class="form-label">Tệp công việc hiện có:</label><br>
                </div>

                <hr class="my-4">

    <!-- Submission Content Section -->
    <div class="col-12">
        <h5>Nội dung nộp</h5>
        <div class="mb-3">
        <label for="submissionDescription" class="form-label">Mô tả nội dung công việc đã nộp</label>
        <textarea class="form-control" rows="5" name="submissionDescription" id="submissionDescription"></textarea>
        </div>
        <div class="mb-3">
        <label for="submissionFiles" class="form-label">Nộp tệp đính kèm</label>
        <input type="file" name="submissionFiles" class="form-control" multiple>
        </div>
    </div>
                <div class="mb-3-md">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Đóng</button>
                    <button type="submit" class="btn btn-primary">Lưu</button>
                    <button type="submit" class="btn btn-success">Nộp</button>
                </div>
            </div>
            </form>
        </div>
{% endblock %}